{% extends 'base.html.twig' %}

{% block title %}Adminok{% endblock %}

{% block body %}
    {% include 'messages.html.twig' %}
    <div class="card w-50 mx-auto mt-5">
        <div class="card-body">
            <h3 class="card-title mb-5">Adminok</h3>
            <ol class="list-group list-group-numbered mb-3">
                {% for admin in paginator %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ admin.username }}</div>
                    </div>
                    <a class="badge bg-secondary" href="{{ path('app_admin_edit', {'id': admin.id}) }}">szerkesztés</a>
                </li>
                {% endfor %}
            </ol>  
            {% include 'paginator/paginator.html.twig' %}
            <a class="btn btn-primary mb-3" href="{{ path('app_admin_create') }}">Admin felvétele</a>
        </div>
    </div>
{% endblock %}