@import '~bootstrap/scss/bootstrap';

.alert,
#success-message,
#error-message{
    position: absolute;
    width: 100%;
    z-index: 1;
}

#close-success,
#close-error{
    cursor: pointer !important;
    float: right !important;
}

.form-group ul,
.form-group ul li {
    color: red !important;
    list-style-type: none !important;
    padding: 0 !important;
}

.list-group-numbered > .list-group-item::before{
    content: none !important;
}